body {
  display: block;
  font-family: "proxima-nova", "Proxima Nova", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  line-height: 1.6;
  color: #3d3b3b;
  background-color: #fff;
  overflow-x: hidden; }
  
section {
    padding: 5em;
}
h1 {
    font-size: 3em;
    text-transform: uppercase;
}
.subheading {
    font-size: 1.5em;
    margin-bottom: 2em;
    text-transform: uppercase;
    color: rgb(179, 179, 179);
    font-weight: bold;
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
}
a:visited {
  text-decoration: none;
}
.page-enter-active {
  animation: bounce-in .8s;
}
.page-leave-active {
  animation: bounce-out .5s;
}
@keyframes bounce-in {
  0% { transform: scale(.9); opacity: 0; }
  100% { transform: scale(1); opacity: 1; }
}
@keyframes bounce-out {
  0% { transform: scale(1); opacity: 1; }
  100% { transform: scale(.9); opacity: 0; }
}

  h1, .h1, #vm-workwithus h3.gform_title, h2, .h2, h3, .h3 {
    margin-top: 19pt;
    margin-bottom: 9.5pt;
}

h1, .h1, #vm-workwithus h3.gform_title {
  font-size: 33pt;
}

.text-uppercase, .initialism {
  text-transform: uppercase;
}